body {
	background: black;
	color: yellow;
	text-align: center;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 75px;
  margin: 50px auto 40px auto;
  color: #00d;
}

h3 {
	color: #00e;
}

.social img {
  width: 30px;
}